*~
.*
.*/
*.db
*.md
*.egg-info/
__*__/

*.py[cdo]

!docs/*.md

!CHANGELOG.md
!LEGACY.md
!README.md
!SECURITY.md
!CONTRIBUTING.md@

!.dockerignore
!.env.sample
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.python-version
!.vale.ini

/log
/var

/dev/certs/*
/dev/playout/*
/website/

uv.lock
