*~
.*
.*/
*.db
*.md
*.egg-info/
__*__/

*.py[cdo]

!*/*.md

!CHANGELOG.md
!CONTRIBUTING.md
!LEGACY.md
!README.md
!SECURITY.md

!.dockerignore
!.env.sample
!.envrc
!.gitattributes
!.gitignore
!.gitkeep
!.python-version
!.vale.ini

bin/
log/
var/

dev/certs/*
dev/playout/*
website/

uv.lock

celerybeat-schedule
radio.liq
retry_queue

!.agent/
!.agent/*.md
AGENTS.md
