<?xml version="1.0" encoding="UTF-8"?>
<phpunit 
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/5.7/phpunit.xsd"
    bootstrap="./application/TestBootstrap.php"
    colors="true"
    verbose="true"
    testdox="true"
>
    <testsuite name="LibreTime Legacy Tests">
        <directory suffix="Test.php">./application</directory>
    </testsuite>

    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">../application/</directory>
            <exclude>
                <directory suffix=".phtml">../application/</directory>
                <directory>../application/models/airtime/om/</directory>
                <directory>../application/models/airtime/map/</directory>
                <file>../application/Bootstrap.php</file>
                <file>../application/controllers/ErrorController.php</file>
                <file>../application/configs/conf.php</file>
            </exclude>
        </whitelist>
    </filter>

    <php>
        <env name="ENVIRONMENT" value="testing"/>
        <env name="APPLICATION_ENV" value="testing"/>
        <env name="LIBRETIME_UNIT_TEST" value="1"/>
        <env name="LIBRETIME_CONFIG_DIR" value="/app/tests/config"/>
        <env name="LIBRETIME_LOG_DIR" value="/app/tests/log"/>
        <env name="LIBRETIME_CONFIG_FILEPATH" value="/app/tests/config/config.yml"/>
    </php>

    <logging>
        <log type="testdox-text" target="php://stdout"/>
    </logging>
</phpunit>
